@value makerBlue, makerWhite, makerBlack from '../../common/colors.css';

.header {
  position: relative;
  width: 100%;
  padding: 0.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: makerBlue;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
  font-size: 1.3em;
  font-weight: 700;
}

.logout {
  position: absolute;
  top: 1em;
  right: 3em;
  padding: 0.8em;
  border-radius: 0.5em;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
