@value makerBlue, makerWhite, makerBlack from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.maker {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
  border-radius: 12px;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
